/**
 * Variables. You can override this in your own styles.
 */

body {
  --roxane-preset-dark: #2c3338;
  --roxane-preset-font-normal: var(--wp--preset--font-size--normal, 14px);
  --roxane-preset-font-big: var(--wp--preset--font-size--big, 20px);
  --roxane-preset-font-huge: var(--wp--preset--font-size--huge, 32px);
}

[class^="wp-block-roxane"] {
  font-size: var(--roxane-preset-font-normal);
}