
.wp-list-table thead .manage-column.column-tmdb_id,
.wp-list-table tfoot .manage-column.column-tmdb_id,
.wp-list-table tbody .tmdb_id.column-tmdb_id {
	text-align: center;
	width: 50px;
}

.wp-list-table tbody .tmdb_id.column-tmdb_id {
	max-width: 50px;
}

.wp-list-table thead .manage-column.column-thumbnail,
.wp-list-table tfoot .manage-column.column-thumbnail,
.wp-list-table tbody .thumbnail.column-thumbnail {
	text-align: center;
	width: 150px;
}

.wp-list-table tbody .thumbnail.column-thumbnail img {
	max-width: 150px;
}

#addtag .form-field.term-image-wrap .term-image,
#edittag .form-field.term-image-wrap .term-image {
	display: block;
	margin-bottom: 10px;
	max-width: 95%;
}

.edit-tags-php .form-field + .submit {
	margin-top: 10px;
}

.edit-tags-php.taxonomy-series #addtag .tmdb-search-results {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(4, minmax(0, 1fr));
}

.edit-tags-php.taxonomy-series #addtag .tmdb-search-results .tmdb-search-result {
	color: #2271b1;
	display: flex;
	flex-direction: column;
	gap: 6px;
	text-decoration: none;
	width: 95%;
}

.edit-tags-php.taxonomy-series #addtag .tmdb-search-results .tmdb-search-result img {
	border-radius: 4px;
}

.edit-tags-php.taxonomy-series #addtag .tmdb-search-results .tmdb-search-result .details {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.edit-tags-php.taxonomy-series #addtag .tmdb-search-results .tmdb-search-result .details .title {
	font-weight: bold;
}

.edit-tags-php.taxonomy-series #addtag .tmdb-search-results .tmdb-search-result .details .year {
	color: #666;
	font-size: 11px;
	font-weight: 500;
}

.edit-tags-php.taxonomy-series #addtag .backdrop-picker {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	padding: 20px;
}

.edit-tags-php.taxonomy-series #addtag .backdrop-picker button {
	aspect-ratio: 1.777778;
}

.edit-tags-php.taxonomy-series #addtag .backdrop-picker button img {
	height: 100%;
	object-fit: cover;
	width: auto;
}

.edit-php.post-type-post .quick-editor-modal {
	min-width: 420px;
}

.edit-php.post-type-post .quick-editor-modal .components-notice {
	margin-bottom: 20px;
}

.edit-php.post-type-post .quick-editor-modal .components-datetime__time {
	display: flex;
}

.edit-php.post-type-post .quick-editor-modal .term-preview {
	position: relative;
}

.edit-php.post-type-post .quick-editor-modal .term-preview a {
	align-items: center;
	border: 1px solid #949494;
	border-radius: 2px;
	box-shadow: 0 0 0 #0000;
	display: flex;
	gap: 10px;
	padding: 6px;
	text-decoration: none;
	width: 100%;
}

.edit-php.post-type-post .quick-editor-modal .term-preview button {
	position: absolute;
	right: 4px;
	top: 10px;
}

.edit-php.post-type-post .quick-editor-modal .term-preview button:hover {
	background: transparent;
}

.edit-php.post-type-post .quick-editor-modal .term-preview button svg {
	fill: #666;
}

.edit-php.post-type-post .quick-editor-modal .term-preview img {
	aspect-ratio: 1.7777778;
	border-radius: 3px;
	height: 100%;
	max-width: 80px;
	object-fit: cover;
	width: auto;
}

.edit-php.post-type-post .quick-editor-modal .term-preview .title {
	font-weight: 500;
}

.edit-php.post-type-post .quick-editor-modal .term-preview .content {
	color: #666;
	font-size: 11px;
}